[submodule "Imagine/InternalCore/OpenGL/vendor/Assimp/assimp"]
	path = Imagine/InternalCore/OpenGL/vendor/Assimp/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Imagine/vendor/IMGUI/imgui"]
	path = Imagine/vendor/IMGUI/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Imagine/vendor/IMGUI/-b"]
	path = Imagine/vendor/IMGUI/-b
	url = https://github.com/ocornut/imgui.git
[submodule "Imagine/vendor/yaml"]
	path = Imagine/vendor/yaml
	url = https://github.com/jbeder/yaml-cpp.git
